html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  max-width: 100%;
}

.main-container {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.container {
  display: block;
  float: left;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.container img {
  width: 100%;
  margin-bottom: 20px;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background: #fff;
  padding: 20px;
  display: block;
  float: left;
  width: 100%;
  border-bottom: 1px solid #254159;
}

h1 {
  font-size: 2.4rem;
  color: #254159;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  color: #254159;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.8rem;
  color: #254159;
  margin-bottom: 20px;
  margin-top: 20px;
}

h4 {
  font-size: 1.6rem;
  color: #254159;
  margin-bottom: 10px;
  padding-top: 10px;
}

p {
  margin-bottom: 10px;
  line-height: 1.4;
  color: #222;
  text-align: justify;
}

ul {
  margin-left: 30px;
  margin-bottom: 10px;
}

ul li {
  font-size: 1.4rem;
  line-height: 1.2;
  color: #454545;
}
section {
  background-color: #fff;
  font-size: 1.5rem; /*equivalente a 15 px*/
  width: 80%;
  padding: 20px;
}

section nav {
  display: block;
  float: left;
  width: 30%;
}

nav li {
  background-color: #eee;
  margin: 1px 20px 1px 0px;
  padding: 10px;
}

nav li:hover {
  background-color: #dfdfdf;
}

nav a {
  text-decoration: none;
  color: #254159;
}

nav a:hover {
  color: #5282ac;
}

section article {
  display: block;
  float: left;
  width: 70%;
}

footer {
  background-color: #254159;
  display: block;
  float: left;
  padding: 20px;
  width: 100%;
}
footer p {
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
}

footer small {
  font-size: 80%;
  display: block;
}

#tenho-interesse {
  box-sizing: border-box;
  width: 100%;
  background: rgba(99, 134, 165, 0.2);
  display: block;
  float: left;
  padding: 30px 50px;
}
#tenho-interesse p {
  margin-bottom: 10px;
  line-height: 1.4;
  color: #222;
  text-align: justify;
  font-size: 1.5rem;
}

#tenho-interesse h2 {
  font-size: 2.2rem;
  color: #254159;
  margin-bottom: 20px;
  margin-top: 20px;
}
.cognito {
  margin: 20px;
  padding: 0px;
  height: 470px !important;
  overflow: hidden !important;
}

.cog-form__content {
  background: rgba(99, 134, 165, 0.2) !important;
}

.container-form {
  width: 55%;
  margin: 0px auto;
}

.cog-branding--minimal,
html .cog-branding--minimal *,
:root:root:root:root:root .cog-branding--minimal,
:root:root:root:root:root .cog-branding--minimal * {
  visibility: hidden !important;
}

html .cog-abuse,
:root:root:root:root:root .cog-abuse {
  visibility: hidden !important;
}

.cog-branding__powered {
  visibility: hidden !important;
}
